<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fornavn %><br>
    <%= f.text_field :navn, placeholder: "Navn" %><br>

    <%= f.label :telefon %><br>
    <%= f.text_field :telefon, placeholder: "Telefonnummer" %><br>

    <%= f.label :epost %><br>
    <%= f.text_field :epost, placeholder: "Epost-addresse" %><br>

    <%= f.label :din_henvendelse %><br>
    <%= f.text_area :henvendelse %>
  </div>
  
  <div class="actions">
    <%= f.submit "Lagre bruker" %>
  </div>
<% end %>
