<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
     

      <ul>
      <% @contact.errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= notice %>
  <div class="field">
    
    <%= f.text_field :navn, placeholder: "Navn", class: "kontakt_skjema_text_field" %><br>

    
    <%= f.text_field :telefon, placeholder: "Telefonnummer", class: "kontakt_skjema_text_field" %><br>

    
    <%= f.text_field :epost, placeholder: "Epost-addresse", class: "kontakt_skjema_text_field" %><br>

    
    <%= f.text_area :henvendelse, placeholder: "Din henvendelse", class: "kontakt_skjema_text_area" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Send", class: "btn btn-default kontakt_btn" %>
  </div>
<% end %>
