<%= render 'contacts/contact_sidebar' %>
      <div class="right_panel">
      <p id="notice"><%= notice %></p>

      <h2>Fra <%= @contact.navn %></h2>
      <p><%= @contact.telefon %></p>
      <p><%= @contact.epost %></p>
      <p><%= @contact.henvendelse %></p>

        
        
        
        
      
  
      </div>