<footer>
<div class="container">
  <div class="row">
    <div class="col-md-3 footer_row">
    <ul>
      <li><h3>Navigasjon</h3></li>
      <li><%= link_to 'Forside', root_path %></li>
      
      
      <li><%= link_to 'Om Devalo', om_path %></li>
      <li><%= link_to 'Kontakt oss', kontakt_path %></li>
         
    </ul>
    
    </div>
    <div class="col-md-3 footer_row">
      <ul>
        <li><h3>Nyhetsbrev</h3></li>
      
      <li><%= render 'layouts/subscribe_form' %></li>
      <li><%= link_to image_tag('fb-small.png', class: "facebook-png"), 'https://www.facebook.com/devalo.no' %></li>
      </ul>
    </div>
    <div class="col-md-3 footer_row">
      
    </div>
    <div class="col-md-3 footer_row">
      <ul>
        <li><h3>Kontaktinformasjon</h3></li>
        <li><p>kundeservice@devalo.no</p></li>
        <li><p>3111 Tønsberg</p></li>
        <li><p>Telefon: 954 14 221</p></li>
      </ul>
      </div>

  </div>

</div>
</footer>