<nav class="navbar navbar-default navi" role="navigation">
  <div class="container">
    <div class="navbar-header">
     <div class="logo">
        <%= link_to image_tag('devalo.png', class: "logo"), root_url %>
        <div class="logo-undertekst">
        <i>Fremtiden ligger på nettet.</i>
        </div>
      </div>
   
    </div>
       <div class="navbar-right ">
        <ul>
          <li><%= link_to 'Hjem', root_path %></li>
          <li>|</li>
          <li><%= link_to 'Tjenester', "#" %></li>
          <li>|</li>
          <li><%= link_to 'Om Devalo', "#" %></li>
          <li>|</li>
          <li><%= link_to 'Prosessen', "#" %></li>
          <li>|</li>
          <li><%= link_to 'Kontakt oss', "#" %></li>
          <li>|</li>
          <li><%= link_to 'Start prosjektet', "#" %></li>
        </ul>
      </div>  

  </div>

</nav>





