<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="HTML,CSS,Rails,JavaScript,Responsivt,Nettsider,Applikasjon">
  <meta name="description" content="Utvikler responsive nettsider, nettbutikk, og webapplikasjoner for dine formål">
   <title><%= full_title(yield(:title))  %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<%= render 'layouts/header' %>
<%= render 'shared/logged_in' %>

<%= yield %>
<%= render 'layouts/footer' %>
 
</body>
</html>
