<!DOCTYPE html>
<html>
<head>
   <title><%= full_title(yield(:title))  %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<%= render 'layouts/header' %>
<% if logged_in? %>
  <li>Logget inn som <%= link_to current_user.email, current_user %></li>
  <li><%= link_to "Logg ut", logout_path, method: :delete %></li>
<% end %>
<%= yield %>
<%= render 'layouts/footer' %>
 
</body>
</html>
